<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Angular Chat App</title>
  <link rel="stylesheet" type="text/css" href="client/css/index.css">
  <script type="text/javascript" src="client/lib/angular-1.6.9.min.js"></script>
  <script type="text/javascript" src="client/lib/socket.io.js"></script>
  <script type="text/javascript" src="client/js/index.js"></script>
</head>
<body ng-controller="myCtrl">
<ul id="messages"></ul>
<div>
  <input id="m" ng-model="message" autocomplete="off" />
  <button ng-click="send()">Send</button>
</div>
</body>
</html>